# liboqs Configuration
CONFIG_LIBOQS_ENABLED=y
CONFIG_LIBOQS_ENABLE_KEM_ML_KEM=y
CONFIG_LIBOQS_ENABLE_SIG_SPHINCS=n
CONFIG_LIBOQS_AUTO_INIT_RNG=y
CONFIG_LIBOQS_USE_ESP_RANDOM=y

# Compiler optimizations
CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# FreeRTOS Configuration
CONFIG_FREERTOS_HZ=1000

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_MAXIMUM_LEVEL_DEBUG=y
